<table id="gameboard">
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(0).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(1).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(2).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(3).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(4).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(5).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(6).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(7).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(8).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(9).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(10).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(39).name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><%= @monopoly.gameboard.space(11).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(38).name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><%= @monopoly.gameboard.space(12).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(37).name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><%= @monopoly.gameboard.space(13).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(36).name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><%= @monopoly.gameboard.space(14).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(35).name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class ="pot">Pot<br><div id="pot"><%= render 'pot' %></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><%= @monopoly.gameboard.space(15).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(34).name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><%= @monopoly.gameboard.space(16).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(33).name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><%= @monopoly.gameboard.space(17).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(32).name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><%= @monopoly.gameboard.space(18).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(31).name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><%= @monopoly.gameboard.space(19).name %></td>
  </tr>
  <tr>
    <td class="space"><%= @monopoly.gameboard.space(30).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(29).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(28).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(27).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(26).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(25).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(24).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(23).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(22).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(21).name %></td>
    <td class="space"><%= @monopoly.gameboard.space(20).name %></td>
  </tr>
</table>