<%
   if @monopoly.settings.players[2].present?
     p_pos = @monopoly.settings.players[2].position
     p_name = @monopoly.settings.players[2].name
   end
%>

<table id="player2">
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 0 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 1 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 2 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 3 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 4 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 5 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 6 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 7 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 8 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 9 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 10 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 39 %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><br><br><%= p_name if p_pos == 11 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 38 %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><br><br><%= p_name if p_pos == 12 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 37 %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><br><br><%= p_name if p_pos == 13 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 36 %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><br><br><%= p_name if p_pos == 14 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 35 %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><br><br><%= p_name if p_pos == 15 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 34 %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><br><br><%= p_name if p_pos == 16 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 33 %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><br><br><%= p_name if p_pos == 17 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 32 %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><br><br><%= p_name if p_pos == 18 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 31 %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space"><br><br><%= p_name if p_pos == 19 %></td>
  </tr>
  <tr>
    <td class="space"><br><br><%= p_name if p_pos == 30 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 29 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 28 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 27 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 26 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 25 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 24 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 23 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 22 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 21 %></td>
    <td class="space"><br><br><%= p_name if p_pos == 20 %></td>
  </tr>
</table>