<% if !@game_message.nil? %>
    <div id="error_explanation">
        <%= @game_message.message %>
        <%= button_to 'Home', root_path, :method => :get %>
    </div>
<% else %>
    <%= render 'gameboard' %>
    
    <% @monopoly.settings.players.each_with_index do |p, index| %>
      <div id="player<%= index + 1 %>"><%= render partial: "player", locals: {index: index, player: p} %></div>
    <% end %>
    
    <div id="nav"><%= render 'navigation' %></div>
<% end %>
